html {
    font-size: 100%;
    font-family: "Neucha", cursive;
    font-family: "Indie Flower", cursive;
    font-family: "Roboto", 'sans-serif';
}

/* 
@media (max-width: 992px) {
    html {
        font-size: 95%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 567px) {
    html {
        font-size: 85%;
    }
} */

body {
    /* background: url("/images/bg1.png");
    background-repeat: repeat; */
    position: relative;
}

/* Navigation */

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: flex;
    transition: all 2s ease;

}

.dropdown-content {
    display: none;
}

/* Index Page */

.hero {
    background-image: linear-gradient(to right bottom,
            rgba(45, 204, 167, 0.5),
            70%,
            rgba(247, 201, 72, 0.5)),
        url("/images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.bgi-g2 {
    background: url("/images/bg5.png");
    background-repeat: repeat;
}

.bgi-p {
    background: url("/images/pig.png");
    background-repeat: repeat;
}

.bgi-s {
    background: url('/images/background.svg');
    background-size: cover;
}

.about {
    background-image: linear-gradient(to right bottom,
            rgba(45, 204, 167, 0.5),
            70%,
            rgba(247, 201, 72, 0.5)),
        url("/images/story.jpg");
    background-size: cover;
    background-position: center;
}

.bgi-g4 {
    background: url("/images/bg6.png");
    background-repeat: repeat;
}

.bgi-farm {
    background: url('/images/background_2.svg');
    background-size: cover;
    background-position: center;
}

.bgi-social {
    background-image: linear-gradient(to right bottom,
            rgba(45, 204, 167, 0.5),
            70%,
            rgba(247, 201, 72, 0.5)),
        url("/images/social_background.png");
    background-size: cover;
    background-position: center;
}

.bgi-twitter {
    background-image: linear-gradient(to right bottom,
            rgba(0, 132, 180, .7),
            50%,
            rgba(0, 172, 237, .7)),
        url('/images/twitter.png');
    background-size: cover;
    background-position: center;
}

.bgi-instagram {
    background-image:
        linear-gradient(to right bottom,
            rgba(254, 218, 117, .8),
            50%,
            rgba(250, 126, 30, .8)),
        url('/images/instagram.png');
    background-size: cover;
    background-position: center;
}

.bgi-facebook {
    background-image:
        linear-gradient(to right bottom,
            rgba(41, 72, 125, .8),
            50%,
            rgba(156, 178, 206, .8)),
        url('/images/facebook.png');
    background-size: cover;
    background-position: center;
}

.aboutusinfo-container {
    transform: rotate(-5deg);
}

.aboutusinfo {
    background-image: linear-gradient(to right bottom,
            rgba(45, 204, 167, 0.5),
            70%,
            rgba(247, 201, 72, 0.5)),
        url("/images/aboutus.jpg");
    background-size: cover;
    background-position: center;
}

.story-img {
    object-fit: cover;
    height: 29rem;
    max-width: 100%;
}

.farm-logo {
    object-fit: contain;
    height: 7rem;
    width: auto;
}

.bgi-layer {
    background-image: linear-gradient(to right bottom,
            rgba(45, 204, 167, 1) 70%,
            rgba(247, 201, 72, 1));
}

.bgi-layer2 {
    background-image: linear-gradient(to right bottom,
            #f8fafc 80%,
            #048271);
}

.bgi-layer3 {
    background-image: linear-gradient(to right bottom,
            #048271 5%,
            #f8fafc);
}

.bg-events {
    background-image: linear-gradient(to right bottom,
            rgba(45, 204, 167, 0.5),
            70%,
            rgba(247, 201, 72, 0.5)),
        url("/images/aboutus.jpg");
    background-size: cover;
    background-position: center;
}

/* VISIT US PAGE */

.pig-banner {
    background-image: linear-gradient(to right bottom,
            rgba(31, 157, 85, 0.5),
            70%,
            rgba(39, 121, 189, 0.5)),
        url("/images/pig.jpg");
    background-size: cover;
    background-position: center;
}

/* Visit Us */

.bg-map {
    background-image: linear-gradient(to right bottom,
            rgba(45, 204, 167, 0.5),
            70%,
            rgba(247, 201, 72, 0.5)),
        url("/images/map2.jpg");
    background-size: cover;
    background-position: center;
}

.animals {
    /* opacity: 0;
    transition: opacity 2s; */
}

/* ANIMATIONS */

.show {
    display: block;
    transition: all 5s ease-in-out;
    animation-name: opacity;
    animation-duration: .5s;
    animation-timing-function: linear;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
