html {
    font-size: 100%;
    font-family: "Neucha", cursive;
    font-family: "Indie Flower", cursive;
}

@media (max-width: 992px) {
    html {
        font-size: 95%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 567px) {
    html {
        font-size: 85%;
    }
}

body {
    /* background: url("/images/bg1.png");
    background-repeat: repeat; */
    position: relative;
}

.hero {
    background-image: linear-gradient(to right bottom,
        rgba(31, 157, 85, 0.5),
        70%,
        rgba(39, 121, 189, 0.5)),
        url("/images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.bgi-g2 {
    background: url("/images/bg5.png");
    background-repeat: repeat;
}

.bgi-p {
    background: url("/images/pig.png");
    background-repeat: repeat;
}

.about {
    background-image: linear-gradient(to right bottom,
        rgba(31, 157, 85, 0.5),
        70%,
        rgba(39, 121, 189, 0.5)),
        url("/images/story.jpg");
    background-size: cover;
    background-position: center;
}

.bgi-g4 {
    background: url("/images/bg6.png");
    background-repeat: repeat;
}

.aboutusinfo-container {
    transform: rotate(-5deg);
}

.aboutusinfo {
    transform: rotate(5deg);
    background-image: linear-gradient(to right bottom,
        rgba(31, 157, 85, 0.5),
        70%,
        rgba(39, 121, 189, 0.5)),
        url("/images/aboutus.jpg");
    background-size: cover;
    background-position: center;
}

.story-img {
    object-fit: cover;
    height: 29rem;
    max-width: 100%;
}

.farm-logo {
    object-fit: contain;
    height: 7rem;
    width: auto;
}

.whatson {
    background-image: linear-gradient(to right bottom,
        rgba(31, 157, 85, 0.5),
        70%,
        rgba(39, 121, 189, 0.5)),
        url("/images/whatson.jpg");
    background-size: cover;
    background-position: center;
}
