html {
    font-size: 100%;
    font-family: "Neucha", cursive;
    font-family: "Indie Flower", cursive;
}

@media (max-width: 992px) {
    html {
        font-size: 95%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 567px) {
    html {
        font-size: 85%;
    }
}

body {
    /* background: url("/images/bg1.png");
    background-repeat: repeat; */
    position: relative;
}

/* Navigation */

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: flex;
    transition: all 2s ease;

}

.dropdown-content {
    display: none;
}

/* Index Page */

.hero {
    background-image: linear-gradient(to right bottom,
        rgba(31, 157, 85, 0.5),
        70%,
        rgba(39, 121, 189, 0.5)),
        url("/images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.bgi-g2 {
    background: url("/images/bg5.png");
    background-repeat: repeat;
}

.bgi-p {
    background: url("/images/pig.png");
    background-repeat: repeat;
}

.bgi-s {
    background: url('/images/background.svg');
    background-size: cover;
}

.about {
    background-image: linear-gradient(to right bottom,
        rgba(31, 157, 85, 0.5),
        70%,
        rgba(39, 121, 189, 0.5)),
        url("/images/story.jpg");
    background-size: cover;
    background-position: center;
}

.bgi-g4 {
    background: url("/images/bg6.png");
    background-repeat: repeat;
}

.bgi-farm {
    background: url('/images/background_2.svg');
    background-size: cover;
    background-position: center;
}

.aboutusinfo-container {
    transform: rotate(-5deg);
}

.aboutusinfo {
    background-image: linear-gradient(to right bottom,
        rgba(31, 157, 85, 0.5),
        70%,
        rgba(39, 121, 189, 0.5)),
        url("/images/aboutus.jpg");
    background-size: cover;
    background-position: center;
}

.story-img {
    object-fit: cover;
    height: 29rem;
    max-width: 100%;
}

.farm-logo {
    object-fit: contain;
    height: 7rem;
    width: auto;
}

.bgi-layer {
    background-image: linear-gradient(to right bottom,
        rgba(31, 157, 85, 0.5),
        70%,
        rgba(39, 121, 189, 0.5));
}

/* VISIT US PAGE */

.pig-banner {
    background-image: linear-gradient(to right bottom,
        rgba(31, 157, 85, 0.5),
        70%,
        rgba(39, 121, 189, 0.5)),
        url("/images/pig.jpg");
    background-size: cover;
    background-position: center;
}

/* Visit Us */

.bg-map {
    background-image: linear-gradient(to right bottom,
        rgba(31, 157, 85, 0.5),
        70%,
        rgba(39, 121, 189, 0.5)),
        url("/images/map2.jpg");
    background-size: cover;
    background-position: center;
}
